.header{
    width: 100%;
    padding-top: 17px;
    &__body{
        display: flex;
        flex-direction: column;
        gap: 13px;
        &-top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            &-back{
                width: 24px;
                height: 24px;
                background: transparent;
                svg{
                    width: 24px;
                    height: 24px;
                }
            }
            &-logo{
                width: 129px;
                height: 22px;
            }
            &-step{
                display: flex;
                span{
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 17.67px;
                    text-align: left;
                    color: #EE0C72;
                }
                p{
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 17.67px;
                    text-align: left;
                    color: #fff;
                }
            }
            &-step.active{
                opacity: 1;
            }
        }
        &-line{
            width: 99.7%;
            height: 4px;
            background: #FFFFFF80;
            border-radius: 2px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            span:nth-child(1){
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
            }
            span:last-child{
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
            }
            span{
                background: #EE0C72;
                width: calc(367px / 21);
                height: 4px;
                opacity: 0;
            }
            span.show{
                opacity: 1;
            }
        }
        &-line.active{
            opacity: 1;
        }
    }
}
.header__toggle{
    opacity: 0;
    transition: all 0.3s ease;
}
.header__toggle.active{
    opacity: 1;
}