@media (max-width: 786px) {
    html{
        font-size: calc(100vw / 393);
    }

    body{
        max-width: 393rem;
        margin: 0 auto;
        background-color: #1B1C20;
        font-family: var(--main);
        height: 100vh;
        overflow: hidden;
    }
    .container{
        max-width: 367rem;
        margin: 0 auto;
        width: 100%;
    }


    .header{
        width: 100%;
        padding-top: 17rem;
        &__body{
            display: flex;
            flex-direction: column;
            gap: 13rem;
            &-top{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                &-back{
                    width: 24rem;
                    height: 24rem;
                    background: transparent;
                    svg{
                        width: 24rem;
                        height: 24rem;
                    }
                }
                &-logo{
                    width: 129rem;
                    height: 22rem;
                }
                &-step{
                    display: flex;
                    span{
                        font-size: 15rem;
                        font-weight: 700;
                        line-height: 17.67rem;
                        text-align: left;
                        color: #EE0C72;
                    }
                    p{
                        font-size: 15rem;
                        font-weight: 700;
                        line-height: 17.67rem;
                        text-align: left;
                        color: #fff;
                    }
                }
                &-step.active{
                    opacity: 1;
                }
            }
            &-line{
                width: 99.7%;
                height: 4rem;
                background: #FFFFFF80;
                border-radius: 2rem;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                span:nth-child(1){
                    border-top-left-radius: 2rem;
                    border-bottom-left-radius: 2rem;
                }
                span:last-child{
                    border-top-right-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                }
                span{
                    background: #EE0C72;
                    width: calc(367rem / 21);
                    height: 4rem;
                    opacity: 0;
                }
                span.show{
                    opacity: 1;
                }
            }
            &-line.active{
                opacity: 1;
            }
        }
    }
    .header__toggle{
        opacity: 0;
        transition: all 0.5s ease;
    }
    .header__toggle.active{
        opacity: 1;
    }


    .main{
        margin-top: 14rem;
        width: 100%;
        &__body{
            display: flex;
            justify-content: center;
            position: relative;
            height: calc(100vh - 14rem - 58rem);
            .main__ellipse{
                width: 351rem;
                height: 352rem;
                border-radius: 50%;
                background: #EE0C72;
                filter: blur(171.8000030517578rem);
                position: fixed;
                bottom: 70rem;
                z-index: -1;
                scale: 0;
                transition: all 0.5s ease;
            }
            .main__ellipse.active{
                scale: 1;
            }
            &-banner{
                display: flex;
                align-items: center;
                flex-direction: column;
                position: absolute;
                transform: translate(0 , 20%);
                opacity: 0;
                transition: all 0.5s ease;
                z-index: 0;
                height: calc(100vh - 14rem - 58rem);
                &-title{
                    font-family: var(--soft);
                    font-size: 55rem;
                    font-weight: 500;
                    line-height: 55rem;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #EE0C72;
                }
                .alternative__title{
                    font-family: var(--main);
                    font-size: 20rem;
                    font-weight: 500;
                    line-height: 22rem;
                    text-align: center;
                    text-transform: uppercase;
                    color: #fff;
                    span{
                        color: #EE0C72;
                    }
                }
                p{
                    font-size: 18rem;
                    font-weight: 700;
                    line-height: 18rem;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #fff;
                    margin-top: 11rem;
                }
                img{
                    margin-top: 14rem;
                    width: 299rem;
                    height: 426rem;
                    position: fixed;
                    bottom: 55rem;
                }
                button{
                    background: linear-gradient(90deg, #EE0C72 23%, #4713A9 100%);
                    width: 315rem;
                    height: 71rem;
                    border-radius: 35rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: fixed;
                    bottom: 50rem;
                    font-size: 26rem;
                    font-weight: 700;
                    line-height: 26rem;
                    letter-spacing: 0.01em;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #fff;
                    text-transform: uppercase;
                }
            }
            &-option{
                width: 100%;
                position: absolute;
                display: flex;
                align-items: center;
                flex-direction: column;
                transition: all 0.5s ease;
                transform: translate(0 , 20%);
                opacity: 0;
                z-index: 0;
                height: calc(100vh - 14rem - 58rem);
                h3{
                    font-size: 28rem;
                    font-weight: 700;
                    line-height: 28rem;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #fff;
                    max-width: 347rem;
                    text-transform: uppercase;
                    span{
                        color: #EE0C72;
                    }
                }
                .choose__title{
                    font-size: 20rem;
                    font-weight: 700;
                    line-height: 22rem;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #fff;
                    max-width: 347rem;
                    text-transform: uppercase;
                    span{
                        color: #EE0C72;
                    }
                }
                &-block{
                    display: flex;
                    flex-direction: column;
                    gap: 20rem;
                    margin-top: 15rem;
                    &-item{
                        width: 347rem;
                        height: 80rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background: #3B3B3B;
                        border: 1rem solid #fff;
                        transition: all 0.3s ease;
                        border-radius: 15rem;
                        padding: 0 23rem 0 15rem;
                        svg{
                            width: 47rem;
                            height: 47rem;
                        }
                        &-left{
                            display: flex;
                            align-items: center;
                            gap: 12rem;
                            .circle{
                                width: 25rem;
                                height: 25rem;
                                border-radius: 50%;
                                background: transparent;
                                border: 1rem solid #fff;
                                transition: all 0.3s ease;
                            }
                            span{
                                font-size: 18rem;
                                font-weight: 700;
                                line-height: 18rem;
                                text-align: left;
                                text-underline-position: from-font;
                                text-decoration-skip-ink: none;
                                color: #fff;
                            }
                        }
                    }
                    &-item.active{
                        border-color: #EE0C72;
                        .circle{
                            background: #EE0C72;
                            border-color: transparent;
                        }
                    }
                }
                button{
                    background: linear-gradient(90deg, #EE0C72 23%, #4713A9 100%);
                    width: 315rem;
                    height: 71rem;
                    border-radius: 35rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: fixed;
                    bottom: 50rem;
                    font-size: 26rem;
                    font-weight: 700;
                    line-height: 26rem;
                    letter-spacing: 0.01em;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #fff;
                    text-transform: uppercase;
                }
                button:disabled{
                    background: #3B3B3B;
                }
            }
            &-first{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                transform: translate(0 , 20%);
                opacity: 0;
                transition: all 0.5s ease;
                height: calc(100vh - 14rem - 58rem);
                h1{
                    font-size: 20rem;
                    font-weight: 700;
                    line-height: 20rem;
                    text-align: center;
                    color: #fff;
                    text-transform: uppercase;
                    max-width: 367rem;
                    span{
                        color: #EE0C72;
                    }
                }
                &-desc{
                    font-family: var(--roboto);
                    font-size: 13rem;
                    font-weight: 500;
                    line-height: 13rem;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #fff;
                    max-width: 316rem;
                    margin-top: 11rem;
                }
                &-soft{
                    font-size: 16rem;
                    font-weight: 700;
                    line-height: 16rem;
                    text-align: center;
                    color: #fff;
                    margin-top: 15rem;
                    text-transform: uppercase;
                }
                &-block{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30rem;
                    padding: 0 15rem;
                    margin-top: 29rem;
                    &-item{
                        width: 153rem;
                        height: 175rem;
                        border: 2rem solid #EE0C72;
                        border-radius: 20rem;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-end;
                        img{
                            width: 156rem;
                            height: 160rem;
                        }
                        &-wrap{
                            width: 150rem;
                            height: 174rem;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: -1;
                            overflow: hidden;
                            border-radius: 22rem;
                        }
                        .ellipse{
                            width: 173rem;
                            height: 173rem;
                            background: #7733FF;
                            filter: blur(30rem);
                            position: absolute;
                            border-radius: 50%;
                        }
                        span{
                            width: 100%;
                            min-height: 39rem;
                            background: #EE0C72;
                            border-bottom-left-radius: 16rem;
                            border-bottom-right-radius: 16rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 20rem;
                            font-weight: 700;
                            line-height: 20rem;
                            text-align: center;
                            color: #fff;
                        }
                    }
                }
                &-pol{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 16rem;
                    margin-top: 23rem;
                    p{
                        font-family: var(--roboto);
                        font-size: 10rem;
                        font-weight: 500;
                        line-height: 11.72rem;
                        letter-spacing: -0.01em;
                        text-align: center;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #FFFFFF99;
                        max-width: 195rem;
                        a{
                            text-decoration: underline;
                        }
                    }
                    span{
                        font-family: var(--roboto);
                        font-size: 10rem;
                        font-weight: 500;
                        line-height: 11.72rem;
                        letter-spacing: 0.01em;
                        text-align: center;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #FFFFFF99;
                    }
                }
            }
            
        }
    }
    .show{
        opacity: 1;
        transform: translate(0 , 0);
        z-index: 10;
    }
    .dshow{
        opacity: 0;
    }
}

@media (max-width: 400px) and (max-height: 700px) {
    .main__body-first h1{
        font-size: 18rem;
        line-height: 18rem;
    }
    .main__body-first-desc{
        font-size: 12rem;
        line-height: 12rem;
    }
    .main__body-first-soft{
        font-size: 14rem;
        line-height: 14rem;
        margin-top: 12rem;
    }
    .main__body-banner-title{
        font-size: 32rem;
        line-height: 32rem;
    }
}